@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: lightblue;
}
.container{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: 0px auto;
    overflow: hidden;
}
.grid-dad{
    width: 100%;
    height: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 30px;
}
.card{
    height: 330px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.daniel{
    grid-column: 1/8;
    grid-row: 1/2;
    background: hsl(263, 55%, 52%);
    align-self: end;
}
.content{
    width: 85%;
    margin: 0 auto;
}
.top{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: #fff;
}
span{
    opacity: 70%;
}
.top img{
    border-radius: 50%;
    margin-right: 20px;
}
.copy h2{
    margin-bottom: 20px;
    color: #fff;
}
.copy p{
    color: #fff;
    opacity: 70%;
}
.walters{
    grid-column: 8/11;
    grid-row: 1/2;
    align-self: end;
    background: hsl(217, 19%, 35%);
}
.harmon{
    grid-column: 1/4;
    grid-row: 2/3;
    background: #ffffff;
}
.topw{
    color: black;
}
.copy .black{
    color: black;
}
.abrams{
    grid-column: 4/11;
    grid-row: 2/3;
    background: hsl(219, 29%, 14%);
}
.kira{
    grid-column: 11/14;
    grid-row: 1/3;
    height: 690px;
    background: white;
    align-self: center;
}
.margin{
    margin-bottom: 50px;
}



